* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}

#values {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#values > div {
  display: grid;
}

#canvas_container canvas {
  max-height: calc(100vh - 170px);
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: small;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
}
