* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}

#values {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#values > div {
  display: grid;
}

#container {
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
}

#container > #chart_container {
  min-width: 60%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #b4b4b4;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#chart_container canvas {
  max-height: calc(100vh - 170px);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 0;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: small;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
}
